body{
    background-color: rgb(113, 111, 111);
}
.member-container{
    margin: 50px 200px;
}
.form{
    margin: 18px 2px;
    padding: 15px 30px;
    font-size: 25px;
    padding-right: 400px;
}
label{
    font-size: 25px;
    color: white;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: cadetblue;
    margin-top: 25px;
}
h1{
    color: white;
    font-size: 60px;
    margin-left: 100px;
}
input{
    text-align: start;
    padding-left: 2px;
}
.alert-message{
    color: rgb(5, 0, 0);
    font-size: 25px;
    padding: 10px;
}
table{
    margin-left: 100px;
}
th,tr{
    color: white;
    padding: 16px 100px;
    font-size: 25px;
    text-align: center;
}
#delete{
    background-color: rgb(226, 16, 16);
}
#saveChangesButton{
    background-color: green;
    margin-left: 15px;
}
.button-container{
    display: flex;
}